# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv
ENV/

# VS Code
.vscode/

# Mac
.DS_Store
*.swp

# Streamlit
.streamlit/secrets.toml

# Data files
data/cache/
*.csv
*.xlsx

# Temporary files
*.log
~$*
*.tmp

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
